
<mat-grid-list cols="2" rowHeight="150px" [style.boarder]="'3px double purple'">
    <mat-grid-tile colspan="2">
        <h1>Willkommen bei Medicare</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <p>Mit uns haben Sie all Ihre Medikamente jederzeit im Blick!</p>
    </mat-grid-tile>
    <mat-grid-tile><p>Medicare ist Ihre App für einnen Erfolgreichen Umgang mot Metikamenten, Tabletten und Pillen
    <br>Mit uns behalten Sie den Überblick, welche Medikamente Sie wann einnehmen müssen. Gerade für ältere Personen 
    stellt die regelmäßige Einnahme von Medikamenten oft eine große Heruasforderung dar. Durch die vergessene 
    Einnahme entsteht für die entsprechenden Personen, sowie für Ihr Umfeld eine nicht zu unterschätzende Gefahr. 
    Entscheiden Sie sich jetzt für Medicare und behalten Sie den Überblick über alle relevanten Medikamente</p></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>

  </mat-grid-list>