
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>  
        <div>
        </div>
     </mat-grid-tile>
     <mat-grid-tile >
        <div id="content-tile">
            <p>Das sind wir!</p>
        </div> 
     </mat-grid-tile>
</mat-grid-list>




<!--<mat-grid-list cols="4" rowHeight="50vH">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>-->