.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  justify-content:right;
}

span {
  padding-right: 5rem;
}

img {
width: 60px; 
position: absolute;
top: 0px;
left: 20px;
}

