<!--<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Start</a>
      <a mat-list-item routerLink="about">Über</a>
      <a mat-list-item routerLink="calendar">Kalender</a>
      <a mat-list-item routerLink="imprint">Imprint</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>-->
    <!-- <mat-toolbar color="primary" class="navbar">
      <!--  <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>medicare</span>-->
      <!-- <img src="/assets/pictures/medicare_logo.png" alt="MediCare Logo" >
      <span mat-list-item routerLink="">Start</span>
      <span mat-list-item routerLink="about">MediCare</span>
      <span mat-list-item routerLink="calendar">Kalender</span>
      <span mat-list-item routerLink="imprint">Impressum</span>
    </mat-toolbar> --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class="topnav" id="myTopnav">
      <a mat-list-item routerLink="">
      <img src="/assets/pictures/medicare_logo.svg" alt="MediCare Logo" >
    </a>
      <a mat-list-item routerLink="">Medikamente</a>
      <a mat-list-item routerLink="mediCare">MediCare</a>
      <a mat-list-item routerLink="calendar">Kalender</a>
      <a mat-list-item routerLink="imprint">Impressum</a>
      <a href="javascript:void(0);" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  <!-- </mat-sidenav-content>
</mat-sidenav-container>-->
