.done {
    text-decoration: line-through;
    color: red;
}
.mat-checkbox{
    margin-right: 10px;
}

.card {
    margin-top: 30px;
    margin-left: 20%;
    max-width: 50%;
    background-color: #eaeaea;
}

ul {
    list-style-type: none; 
    
   
}
.notVisible{

    /* visibility: hidden; */
    visibility: collapse;
    height: 0px;
    width: 0px;
}
.visible{
    visibility: visible;

}
#add{
    padding: 20px;
}
#AddButton{
    margin: 20px;
}