<!-- Inputelemente schöner gestalten!-->
<br>
Name Medikament:                     <input required #medicine placeholder="z.B. Ibuprufen">
<br>
Beschreibung des Medikaments:        <input required #description placeholder="z.B. blaue Dose">
<br>
<!-- INUPT WOCHENTAGE NOCH FEHLERHAFT SIEHE AUSGEKLAMMERTER INHALT TODOS.COMPONENT.TS-->
An folgenden Wochentagen einnehmen:  <input required #consumption_date placeholder="Mo,Mi,Fr,So,...">
<br>
An folgenden Wochentagen einnehmen:  <input type="checkbox" name="monday">
                                        <label for="monday">Montag</label>
                                        <input type="checkbox" name="tuesday">
                                        <label for="tuesday">Dienstag</label>
                                        <input type="checkbox" name="wednesday">
                                        <label for="wednesday">Mittwoch</label>
                                        <input type="checkbox" name="thirsday">
                                        <label for="thirsday">Donnerstag</label>
                                        <input type="checkbox" name="friday">
                                        <label for="friday">Freitag</label>
                                        <input type="checkbox" name="satturday">
                                        <label for="satturday">Samstag</label>
                                        <input type="checkbox" name="sunday">
                                        <label for="sunday">Sonntag</label>
                                  
<br>
Medikament einnehmen bis:            <input required type="date" #consumption_day>
<br>
Häufigkeit der Einnahme:            <input required type="number" value="1" min="1" max="8" #consumption_times placeholder="z.B. 1, 2, 3">
<br>
<button (click)="add(medicine.value, description.value, consumption_date.value, consumption_day.valueAsDate, consumption_times.valueAsNumber)">Hinzufügen</button>
<button (click)="sync()">Sync</button>

<ul>
    <li *ngFor="let todo of todos" [class.done]="todo.done">
        <input type="checkbox" [checked]="todo.done" (click)="toggleDone(todo)">
        <strong>{{ todo.medicine }}</strong><br>
        <em>{{ todo.description }} <br>
        {{ todo.consumption_date }} <br>
        {{ todo.consumption_day }} <br>
        {{ todo.consumption_times }}</em>
    </li>
</ul>