
<mat-grid-list cols="2" rowHeight="50px" >

<!-- Inputelemente schöner gestalten!-->
<mat-grid-tile>
    Name Medikament: 
</mat-grid-tile>
<mat-grid-tile> 
    <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>Medikament</mat-label>
        <input #medicine matInput placeholder="z.B. Ibuprufen" >
      </mat-form-field>
</mat-grid-tile>     
<mat-grid-tile>
    Beschreibung des Medikaments: 
</mat-grid-tile>
<mat-grid-tile>
    <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <input #description matInput placeholder="z.B. blaue Dose" >
      </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
    An folgenden Wochentagen einnehmen:
</mat-grid-tile>
<mat-grid-tile>
    <mat-checkbox #consumption_monday class="example-margin">Montag</mat-checkbox>
    <mat-checkbox #consumption_tuesday class="example-margin">Dienstag</mat-checkbox>
    <mat-checkbox #consumption_wednesday class="example-margin">Mittwoch</mat-checkbox>
    <mat-checkbox #consumption_thirsday class="example-margin">Donnerstag</mat-checkbox>
    <mat-checkbox #consumption_friday class="example-margin">Freitag</mat-checkbox>
    <mat-checkbox #consumption_satturday class="example-margin">Samstag</mat-checkbox>
    <mat-checkbox #consumption_sunday class="example-margin">Sonntag</mat-checkbox>
</mat-grid-tile>
<mat-grid-tile>
    Medikament einnehmen bis: 
</mat-grid-tile>
<mat-grid-tile>
    <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input  matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
      </mat-form-field>
      
      <p>Selected range: {{range.value | json}}</p>

</mat-grid-tile>
<mat-grid-tile>
    Häufigkeit der Einnahme:  
</mat-grid-tile>
<mat-grid-tile>
    <mat-checkbox #consumption_morning class="example-margin">Morgens</mat-checkbox>
    <mat-checkbox #consumption_midday class="example-margin">Mittags</mat-checkbox>
    <mat-checkbox #consumption_evening class="example-margin">Abends</mat-checkbox>
</mat-grid-tile>
<mat-grid-tile>
    <button mat-raised-button (click)="splitTimeslot( 
    medicine.value, description.value, consumption_monday.checked, consumption_tuesday.checked,consumption_wednesday.checked,consumption_thirsday.checked,
    consumption_friday.checked, consumption_satturday.checked,consumption_sunday.checked,consumption_morning.checked,consumption_midday.checked,
    consumption_evening.checked)">Hinzufügen</button>
<button mat-raised-button (click)="sync()">Sync</button>

</mat-grid-tile>

</mat-grid-list>

<ul>
    <li *ngFor="let todo of todos" [class.done]="todo.done">
        <input type="checkbox" [checked]="todo.done" (click)="toggleDone(todo)">
        <table>
            <tr>
                <td>
                    Name Medikament: 
                </td>
                <td>
                    <strong>{{ todo.medicine }}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Beschreibung des Medikaments: 
                </td>
                <td>
                    {{ todo.description }}
                </td>
            </tr>
            <tr>
                <td>
                    Einnehmen am:
                </td>
                <td>
                    {{ todo.consumption }}
                </td>
            </tr>
            <tr>
                <td>
                    Einnehmen an den Tagen:
                </td>
                <td   *ngIf="todo.consumption_monday== true">
                      Montag
                </td>
                <td   *ngIf="todo.consumption_tuesday== true">
                    Dienstag
              </td>
              <td   *ngIf="todo.consumption_wednesday== true">
                Mittwoch
          </td>
          <td   *ngIf="todo.consumption_thirsday== true">
            Donnerstag
      </td>
      <td   *ngIf="todo.consumption_friday== true">
        Freitag
  </td>
  <td   *ngIf="todo.consumption_satturday== true">
    Samstag
</td>
<td   *ngIf="todo.consumption_sunday== true">
    Sonntag
</td>
  
            </tr>
            <tr>
                <td *ngIf="todo.consumption_morning== true or todo.consumption_midday== true or todo.consumption_evening== true">
                    Zur Uhrzeit ... einnahmen:
                </td>
                <td   *ngIf="todo.consumption_morning== true">
                    Morgens
                </td>
                <td   *ngIf="todo.consumption_midday== true">
                    Mittags
                </td>
                <td   *ngIf="todo.consumption_evening== true">
                    Abends
                </td>
            </tr>
            <button mat-raised-button (click)="delete(todo)">Delete To Do</button>
            <button mat-raised-button><a mat-list-item routerLink="update">Update</a></button>
             </table>
              
           </li>
</ul>