<mat-card class="imprint-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Impressum</mat-card-title>
      <mat-card-subtitle>Alle wichtigen Informationen zu unserem Unternehmen findest du hier.</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba the Impressumshund"> -->
    <mat-card-content>
      <mat-grid-list cols="2" [cols]="breakpoint"  [rowHeight]="height" (window:resize)="onResize($event)">
        <div  id="imprint-list-wrapper">
        <mat-grid-tile id="imprint-img-wrapper">  
          <div class="imprint-image">
             <img width="400px" src="/assets/pictures/imprint-bild.png" alt="Imprint Picture">
          </div>
       </mat-grid-tile>
       <mat-grid-tile>  
        <div class="imprint-text">
        <p><strong>Studentenprojekt ON20</strong></p>
        
        <p>Lohrtalweg 14</p>
        <p>DE-74821 Mosbach</p>
        
        <p>Telefon: +49 1575 2863910</p>
        <p>E-Mail: info@moriz-buehler.de</p>
        
        <p>Gruppe: Moriz Bühler / Jona Wölfl / Paula Karin / Adrian Fleischer</p>
        <p>Illustrations:</p>
        <p><a id="attribute" href="https://storyset.com/medicine">Medicine illustrations by Storyset</a></p>
        <p><a href="https://storyset.com/team">Team illustrations by Storyset</a></p>

      </div>
    </mat-grid-tile>
  </div>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="4:1" id="imprint-footer">
      <mat-grid-tile>  
        <div mat-card-avatar class="instagram-header-image">
          <p class="instadesc">Instagram: medicare</p></div>
      </mat-grid-tile>
      <mat-grid-tile>  
        <div mat-card-avatar class="facebook-header-image">
          <p class="instadesc">Facebook: mediCare</p></div>
      </mat-grid-tile>
      <mat-grid-tile>  
        <div mat-card-avatar class="twitter-header-image">
          <p class="instadesc">Twitter: medicare</p></div>
      </mat-grid-tile>
    </mat-grid-list>
      </mat-card-content>
  </mat-card>
