.imprint-card {
      max-width: 90%; 
      margin: 50px; 
  }
  
  .instagram-header-image {
    background-image: url('/assets/pictures/insta.png');
    background-size: cover;
  }
  .instadesc{
      padding-left: 50px;
      padding-top: 8px;
  }
