  .imprint-image {
    position: relative;
    max-width: 20px;
  }

  .imprint-image {
    padding-right: 70%;
  }
  .spacer{
height: 1.5%;
  }

  .instadesc{
    padding-left: 20px;
  }
  
  .imprint-text{
    width: 80%;
  }

  .mat-card{
    font-family: "Raleway", "Helvetica Neue", sans-serif !important;
  }

  h2{
    padding-top: 2%;
    padding-left: 2%;
  }

  h3{
    padding-left: 2%;
  }

  h4{
    font-weight: bold;
    font-size: larger;
  }

  a{
    text-decoration: none;
    color: darkcyan;
    font-weight: 600;
  }
img{
  max-height: 100%;
}