.imprint-card {
    max-width: 90%; 
    margin: 5%; 
    margin-bottom: 20px;
  }
  
  .instagram-header-image {
    background-image: url('/assets/pictures/insta.png');
    background-size: cover;
  }

  .facebook-header-image {
    background-image: url('/assets/pictures/facebook.png');
    background-size: cover;
  }

  .twitter-header-image {
    background-image: url('/assets/pictures/twitter.png');
    background-size: cover;
  }

  .imprint-image {
    position: relative;
    max-width: 20px;
  }

  .imprint-image {
    padding-right: 50%;
  }

  .instadesc{
    padding-left: 50px;
  }
  
  .imprint-text{
    width: 80%;
  }

  .mat-card{
    font-family: "Raleway", "Helvetica Neue", sans-serif !important;
  }

  #imprint-img-wrapper{
   
    position: absolute;
  }


  @media only screen and (max-width: 830px){
    .imprint-card{
    background-color: blue;
    }
  }