<p>update works!</p>

    <ul>
        <button (click)="loadStart()"></button>
      
        <li *ngFor="let todo of todos">
            <button (click)="load(todo)"></button>
          <table>
            <tr>
                
                <td>
                    <!--
                    <mat-form-field class="input-full-width" appearance="fill">
                        <mat-label>Medikament</mat-label>
                        <input #medicine matInput placeholder="{{ todo.id }}" >
                      </mat-form-field>
                      -->
                </td>
            </tr>
            <tr>
                <td>
                   
                </td>
                <td>
                   
                </td>
            </tr>
            <tr>
                <td>
                   
                </td>
              
         
  
   