.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    margin-top: 20px; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }